*.iml
target/

.idea
.classpath
.project
.settings
rebel.xml

**/build-tools/bin/
**/build-tools/etc/
**/build-tools/lib/
**/build-tools/node/
**/build-tools/node_modules/
addon/src/main/frontend/package-lock.json

# Mac
*.DS_Store
